In [95]:
import torch
from torch import nn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

要放大损失范围，以便更快找到差别
- 均方差，不够大
- Sidmoid，较大
- 二元交叉熵损失  nn.BCELoss()   Binary Cross Error Loss

- sigmoid( w1*x1 + w2*x2 + ... + b)：  >0.5为1， 否则0

In [96]:
# 数据预处理 -- 占很大的比例
# df = pd.read_csv('../dataset/test-1.csv')
df0 = pd.read_csv('../dataset/creditcard-tianchi.csv')
# df0.to_csv("../dataset/creditcard-1000.csv")
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [97]:
# df.loc[ df0['Class'] == 1]
df = df0.iloc[0:30000, :]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    30000 non-null  float64
 1   V1      30000 non-null  float64
 2   V2      30000 non-null  float64
 3   V3      30000 non-null  float64
 4   V4      30000 non-null  float64
 5   V5      30000 non-null  float64
 6   V6      30000 non-null  float64
 7   V7      30000 non-null  float64
 8   V8      30000 non-null  float64
 9   V9      30000 non-null  float64
 10  V10     30000 non-null  float64
 11  V11     30000 non-null  float64
 12  V12     30000 non-null  float64
 13  V13     30000 non-null  float64
 14  V14     30000 non-null  float64
 15  V15     30000 non-null  float64
 16  V16     30000 non-null  float64
 17  V17     30000 non-null  float64
 18  V18     30000 non-null  float64
 19  V19     30000 non-null  float64
 20  V20     30000 non-null  float64
 21  V21     30000 non-null  float64
 22  V22     30000 non-null  float64
 23  V23     30000 non-null  float64
 24  V24     30000 non-null  float64
 25  V25     30000 non-null  float64
 26  V26     30000 non-null  float64
 27  V27     30000 non-null  float64
 28  V28     30000 non-null  float64
 29  Amount  30000 non-null  float64
 30  Class   30000 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 7.1 MB

In [98]:
X1 = df.iloc[:, 1:-1]
X1.head(5)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [99]:
Y1 = df.iloc[:, -1]
# Y1.unique()
# Y1.info()
Y1.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: Class, dtype: int64

In [100]:
X = torch.from_numpy(X1.values).type(torch.float32)
Y = torch.from_numpy(Y1.values.reshape(-1,1)).type(torch.float32)

In [101]:
print( X.size() )
print( Y.size(0) )

torch.Size([30000, 29])
30000

In [102]:
model = nn.Sequential(
            nn.Linear(29,1),
            nn.Sigmoid()
)
loss_fn = nn.BCELoss()
opt = torch.optim.Adam(model.parameters(), lr=0.0001)    # Adam很优秀、很常用
model

Sequential(
  (0): Linear(in_features=29, out_features=1, bias=True)
  (1): Sigmoid()
)

In [103]:
batches = 20
no_of_batch = Y.size(0)//20
epoches = 1000

In [104]:
%%time
for epoch in range(epoches):
    for i in range(no_of_batch):
        start = i*batches
        end = start + batches
        x = X[start: end]
        y = Y[start: end]
        y_pred = model(x)
        # y_pred = y_pred.flatten()
        loss = loss_fn(y_pred, y)
        opt.zero_grad()
        loss.backward
        opt.step()

CPU times: total: 52.9 s
Wall time: 3min 7s

In [105]:
model.state_dict()  # sigmoid( w1*x1 + w2*x2 + ... + b)

OrderedDict([('0.weight',
              tensor([[ 0.0179, -0.1666,  0.1157, -0.1400, -0.1250, -0.0051, -0.0980, -0.1714,
                        0.1734,  0.0413, -0.0401,  0.0678, -0.0369, -0.0031, -0.0299,  0.0337,
                        0.0129, -0.0783,  0.1686,  0.0148,  0.0016, -0.1531, -0.0575,  0.1454,
                       -0.0157,  0.0110, -0.0558, -0.1236, -0.0195]])),
             ('0.bias', tensor([0.0139]))])

In [106]:
( (model(X).data.numpy()>0.5).astype('int') == Y.numpy() ).mean()

0.7813333333333333