In [3]:
import datetime
import time
import math
import pymysql
from sqlalchemy import create_engine 
import numpy as np
import pandas as pd
from importlib import reload 


# import tushare as ts
# ts.set_token('11137efdbeac800606d677871a55b3fd5aef79890c59867a8f34d03e')
# pro = ts.pro_api()

import akshare as ak

''' 自建库 '''
from qflib import basic
reload(basic)

global engine, conn
engine = basic.engine()
conn = basic.conn(basic.engine())

In [1]:
# shift 测试
def greater_or_less(d):
    if d['current'] > d['previous']:
        d['result']="Greater"
    elif d['current'] < d['previous']:
        d['result']="Less"
    elif d['current'] == d['previous']:
        d['result']="Equal"
    else:
        pass
    return d

In [4]:
df=pd.DataFrame({'current':[1,2,2,8,7]})
df.iloc[1]

current    2
Name: 1, dtype: int64

In [18]:
df

   current  previous
0        1         0
1        2         0
2        2         1
3        8         2
4        7         2

In [6]:
# Duplicate the column with shifted values
df['previous']=df['current'].shift(2, axis=0, fill_value=0)

In [7]:
df['result']=""

In [17]:
df = df.drop( columns=['result'] )

In [10]:

df=df.apply(greater_or_less,axis=1)

In [4]:
# 历史行情数据
# data = ak.stock_zh_a_hist(symbol="601318", period="daily", start_date="20190301", end_date='20231231', adjust="qfq")
# data
# data.drop(index=(data[ data['收盘']<=72 ].index),inplace=True)
# data

In [10]:
# columns = ['symbol','trade_date', 'open', 'close', 'high', 'low' ]
# columns = ['symbol','trade_date', 'ma5', 'ma10', 'ma20', 'ma30', 'ma60', 'ma120', 'ma250']
# columns = ['symbol','trade_date', 'jx_xl_5', 'jx_xl_10', 'jx_xl_20', 'jx_xl_30', 'jx_xl_60', 'jx_xl_120', 'jx_xl_250']
# columns = ['symbol','trade_date', 'jx_dg_5', 'jx_dg_10', 'jx_dg_20', 'jx_dg_30', 'jx_dg_60', 'jx_dg_120', 'jx_dg_250']
# columns = ['symbol','trade_date', 'open', 'close','volume']
columns = ['symbol','trade_date', 'pct_fl_1_3', 'pct_fl_3_10', 'pct_fl_5_20', 'pct_fl_5_60', 'pct_fl_20_60']
sql = "select * from day_zhibiao where symbol='000001' order by trade_date desc"
df=pd.read_sql_query(sql, conn, index_col=None )
df.head(10)[columns]

,symbol,trade_date,pct_fl_1_3,pct_fl_3_10,pct_fl_5_20,pct_fl_5_60,pct_fl_20_60
0,000001,2023-07-31,1.071540,2.482930,2.830150,1.999950,0.927907
1,000001,2023-07-28,2.514390,2.025840,2.213190,1.609440,0.859808
2,000001,2023-07-27,0.800970,2.570740,1.535810,1.108420,0.741057
3,000001,2023-07-26,0.611155,1.768550,1.362710,0.966870,0.697842
4,000001,2023-07-25,5.057400,1.440260,1.243460,0.869404,0.666543
5,000001,2023-07-24,0.916805,0.686945,0.729857,0.501015,0.572752
6,000001,2023-07-21,0.805547,0.648377,0.783853,0.532694,0.573903
7,000001,2023-07-20,1.297340,0.693378,0.906005,0.606366,0.581436
8,000001,2023-07-19,0.707568,0.721814,1.169680,0.737382,0.577165
9,000001,2023-07-18,0.711065,0.947362,1.262440,0.811737,0.604275

In [8]:
df = pd.DataFrame({'team': ['A', 'A', 'B', 'B', 'C'],
                   'assists': [5, 7, 7, 9, 12],
                   'rebounds': [11, 8, 10, 6, 6]})

In [20]:
df

  team assists rebounds
0    A       5       11
1    A       7        8
2    B       7       10
3    B       9        6
4    C      12        6
5    A       3        4

In [14]:
df = pd.DataFrame(np.insert(df.values, len(df.index), values=['A', 3, 4], axis=0))

In [18]:
a = df2.columns

In [19]:
df.columns = a

In [13]:
df.columns

Index(['team', 'assists', 'rebounds'], dtype='object')

In [ ]:
# 上海证券交易所
stock_sse_summary_df = ak.stock_sse_summary()
print(stock_sse_summary_df)

In [ ]:
# 深圳证券交易所
stock_szse_summary_df = ak.stock_szse_summary(date="20230701")
print(stock_szse_summary_df)

In [ ]:
# 个股基本信息
stock_individual_info_em_df = ak.stock_individual_info_em(symbol="601318")
# print(stock_individual_info_em_df)
stock_individual_info_em_df.info

In [ ]:
# 实时买卖信息
stock_bid_ask_em_df = ak.stock_bid_ask_em(symbol="601318")
print(stock_bid_ask_em_df)

In [ ]:
# def greater_or_less(d):
#     if d['current'] > d['previous']:
#         d['result']="Greater"
#     elif d['current'] < d['previous']:
#         d['result']="Less"
#     elif d['current'] == d['previous']:
#         d['result']="Equal"
#     else:
#         pass
#     return d

# df=pd.DataFrame({'current':[1,2,2,8,7]})
# df['previous']=df['current'].shift(1)
# df['result']=""
# df=df.apply(greater_or_less,axis=1)

In [ ]:
df1 = ts.pro_bar(ts_code='601318.SH', adj='qfq', start_date='20220101', end_date='20231231',ma=[5,60,120])
df1.shape

In [ ]:
df1

In [ ]:
# df = pd.DataFrame({'sz_max_10': [-5, 3, 12, -1, 8, 0]})

# bins = [-float('inf'), 0, 5, 10, float('inf')] 
# labels = ['<0', '0-5', '0-10', '>10']
# df['sz_max_10_bin'] = pd.cut(df['sz_max_10'], bins=bins, labels=labels)
# df['sz_max_10_bin'].value_counts()

In [ ]:
df

In [ ]:
# df.info()
# del df['display_name']
pi2degree = 180/math.pi
print( math.tan(45), math.tan(45)*pi2degree , math.tan(0.1), math.tan(0.2))

In [ ]:
a = np.array([0,30,45,60,90])
print ('不同角度的正弦值：')
# 通过乘 pi/180 转化为弧度  
print (np.sin(a*np.pi/180))
print ('\n')
print ('数组中角度的余弦值：')
print (np.cos(a*np.pi/180))
print ('\n')
print ('数组中角度的正切值：')
print (np.tan(a*np.pi/180))

In [ ]:
a = np.array([0,30,45,60,90])  
print ('含有正弦值的数组：')
sin = np.sin(a*np.pi/180)  
print (sin)
print ('\n')
print ('计算角度的反正弦，返回值以弧度为单位：')
inv = np.arcsin(sin)  
print (inv)
print ('\n')
print ('通过转化为角度制来检查结果：')
print (np.degrees(inv))
print ('\n')
print ('arccos 和 arctan 函数行为类似：')
cos = np.cos(a*np.pi/180)  
print (cos)
print ('\n')
print ('反余弦：')
inv = np.arccos(cos)  
print (inv)
print ('\n')
print ('角度制单位：')
print (np.degrees(inv))
print ('\n')

In [ ]:
a = np.array([0,30,45,60,90])  
print ('tan 函数：')
tan = np.tan(a*np.pi/180)  
print (tan)
print ('\n')
print ('反正切：')
inv = np.arctan(tan)  
print (inv)
print ('\n')
print ('角度制单位：')
print (np.degrees(inv))

In [ ]:

np.degrees(np.arctan(1)), np.degrees(np.arctan(0.001321)), np.degrees(np.arctan(0.001449))

In [ ]:
# 从 tran_daily 中读出5条
sql="SELECT * FROM tran_daily where trade_date='20230710' LIMIT 1"
df = pd.read_sql_query(sql, conn)
df

In [ ]:
# 写入到 tran_000, append 模式
# write_no = df.to_sql('tran_000', conn, index=False, if_exists='append', chunksize=2) # 20000个，每天成交几千只股票，足够了
write_no = df.to_sql('day_zhibiao', conn, index=False, if_exists='append', chunksize=2000) # 20000个，每天成交几千只股票，足够了
write_no

In [ ]:
# df.insert(loc=2, column='new_col', value=3) 
# del df['index']
# df.loc[[0], 'ts_code'] = 'testcode'

In [ ]:
# 从 tran_000 读出数据
sql2 = 'select * from tran_000'
df2 = pd.read_sql_query(sql2, conn, index_col=None)
df2

In [ ]:
# 验证 exec_sql
sql1 = 'create table test_000( ts_code varchar(12), trade_date varchar(10))'
sql2 = 'drop table if exists test'
status = basic.exec_sql(conn,sql2)
status

In [ ]:
# 从 tran_000 读出数据
sql3 = "select * from tran_daily where trade_date='20230717' "
df3 = pd.read_sql_query(sql3, conn, index_col=None)
df3.shape

to_sql(self, name, con, schema=None, if_exists='fail', index=True,
       index_label=None, chunksize=None, dtype=None, method=None):
- if_exists: 
    - append : append到表中，不存在表时，就新建表；
    - replace : 无论是否存在，直接新建表
- index：对DataFrame的index索引的处理，为True时索引也将作为数据写入数据表
- index_label:当上一个参数index为True时，设置写入数据表时index的列名称
- chunsize：设置整数，如20000，一次写入数据时的数据行数量，当数据量很大时，需要设置，否则会链接超时写入失败。
    - 每日交易不超过7000支股票，20000万足够了。
- 

index=True,
           index_label=None, chunksize=None, dtype=None, method=None):

In [12]:
# 字符串处理 
text1='  there      are   three words ' 
print('text1:',text1)

text2=' '.join( text1.split() )
print('text2:',text2)

text3='_'.join( text1.split() )
print('test3:', text3)

text1:   there      are   three words
text2: there are three words
test3: there_are_three_words