In [28]:
import datetime
import time
import pymysql
from sqlalchemy import create_engine 
import pandas as pd
from importlib import reload 

import tushare as ts
ts.set_token('11137efdbeac800606d677871a55b3fd5aef79890c59867a8f34d03e')
pro = ts.pro_api()

''' 自建库 '''
from qflib import basic,syncdata
reload(basic)
reload(syncdata)

global engine, conn
engine = basic.engine()
conn = basic.conn(basic.engine())

In [ ]:
# 从 tran_daily 中读出5条
sql="SELECT * FROM tran_daily where trade_date='20230710' LIMIT 1"
df = pd.read_sql_query(sql, conn)
df

In [36]:
# 写入到 tran_000, append 模式
# write_no = df.to_sql('tran_000', conn, index=False, if_exists='append', chunksize=2) # 20000个，每天成交几千只股票，足够了
write_no = df.to_sql('day_zhibiao', conn, index=False, if_exists='append', chunksize=2000) # 20000个，每天成交几千只股票，足够了
write_no

5

In [ ]:
# df.insert(loc=2, column='new_col', value=3) 
# del df['index']
# df.loc[[0], 'ts_code'] = 'testcode'

In [ ]:
# 从 tran_000 读出数据
sql2 = 'select * from tran_000'
df2 = pd.read_sql_query(sql2, conn, index_col=None)
df2

In [ ]:
# 验证 exec_sql
sql1 = 'create table test_000( ts_code varchar(12), trade_date varchar(10))'
sql2 = 'drop table if exists test'
status = basic.exec_sql(conn,sql2)
status

In [35]:
# 从 tran_000 读出数据
sql3 = "select * from tran_daily where trade_date='20230717' "
df3 = pd.read_sql_query(sql3, conn, index_col=None)
df3.shape

(5214, 12)

to_sql(self, name, con, schema=None, if_exists='fail', index=True,
       index_label=None, chunksize=None, dtype=None, method=None):
- if_exists: 
    - append : append到表中，不存在表时，就新建表；
    - replace : 无论是否存在，直接新建表
- index：对DataFrame的index索引的处理，为True时索引也将作为数据写入数据表
- index_label:当上一个参数index为True时，设置写入数据表时index的列名称
- chunsize：设置整数，如20000，一次写入数据时的数据行数量，当数据量很大时，需要设置，否则会链接超时写入失败。
    - 每日交易不超过7000支股票，20000万足够了。
- 

index=True,
           index_label=None, chunksize=None, dtype=None, method=None):