# 数据导入MySQL8

In [27]:
%matplotlib widget

import pandas as pd
import pymysql
import sys
import tushare as ts
ts.set_token('11137efdbeac800606d677871a55b3fd5aef79890c59867a8f34d03e')
pro = ts.pro_api()

In [28]:
# stockList = pro.stock_basic(exchange='', list_status='L',
#                             fields='ts_code,symbol,name,area,industry,list_status,is_hs')
# stockList.info()

In [29]:
class Mysql:
	#默认是将数据导入至本地
    def __init__(self, host='127.0.0.1', user='root', password='Hy_79518', charset="utf-8", db='hyweb'):
        # assert password != '','请输入数据库密码'
        # assert db != '', '请输入数据库名称'
        self.host = '127.0.0.1'
        self.user = 'root'
        self.pwd = 'Hy_79518'
        self.charset = 'utf-8'
        self.db = 'hyweb'
    #连接数据库并获取操作游标
    def connect(self):
        print('正在连接数据库......')
        try:
            self.conn = pymysql.connect(host=self.host,user=self.user,passwd=self.pwd,db=self.db)
            self.cursor = self.conn.cursor()
            print("数据库连接成功......")
            print('='*100)
        except :
            print("数据库连接失败")
            #未能成功则直接退出程序
            sys.exit(0)
    def createTable(self,tName='',sql=''):
        assert tName != '','请输入数据表名称'
        assert sql != '请输入SQL语句'
        self.cursor.execute('SHOW TABLES;')
        tables =[table[0] for table in self.cursor.fetchall()]
        while tName in tables:
            tName = input(f'数据表名称重复，请重新输入名称。\n已有的数据表:{tables}\n:')
        try:
            self.cursor.execute(sql)
            print(f'数据表{tName}建立成功')
        except Exception as e:
            print(f'数据表{tName}建立失败,请检查SQL语句')
            print(e)
            self.close()
            sys.exit(0)
    def insertValues(self,sql='',values=[]):
        assert values!=[],'请输入数据'
        try:
            self.cursor.executemany(sql, values)
            self.conn.commit()
            print('数据插入成功')
        except Exception as e:
            print("数据插入失败")
            print(e)
            #未能成功则直接退出程序
            self.close()
            sys.exit(0)

    def fetchValues(self,tName,sql=''):
    #tName:table_name(数据表名称)
        self.cursor.execute(f'select COLUMN_NAME from information_schema.COLUMNS where table_name = "{tName}" and table_schema = "{self.db}";')
        columns = [col[0] for col in self.cursor.fetchall()]
        self.cursor.execute(sql)
        df = pd.DataFrame(self.cursor.fetchall())
        df.columns =columns
        return df
    
    def close(self):
        self.cursor.close()
        self.conn.close()
    
    # 进入with语句自动执行
    def __enter__(self):
        self.connect()
        return self
    
    # 退出with语句自动执行
    def __exit__(self, exc_type, exc_val, exc_tb):
        self.close()

        
#生成插入数据SQL语句
def insertValueSQL(tName, df):
    columns = df.columns
    return f'insert into {tName}({",".join(columns.values.tolist())}) values({",".join("%s" for _ in range(len(columns)))})'

In [30]:

if __name__ == "__main__":
    # 连接至tushare
    # token = '11137efdbeac800606d677871a55b3fd5aef79890c59867a8f34d03e'
    # ts.set_token(token)
    # pro = ts.pro_api()
    with Mysql(password='Hy_79518',db='hyweb') as mysql:
        #获取mysql版本号
        mysql.cursor.execute("SELECT VERSION()")
        version = mysql.cursor.fetchone()[0]
        print(f'Database version :{version}')
        #获取
        stockList = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_status,is_hs')
        """
        创建股票列表数据表
        createTableSql = f'CREATE TABLE STOCKLIST({" VARCHAR(30),".join(stockList.columns.values.tolist())} VARCHAR(30))ENGINE=innoDB DEFAULT CHARSET=utf8;'
        print(createTableSql)
        mysql.createTable(tName='stockList',sql=createTableSql)
        """
        insertValuesSql = insertValueSQL(tName='STOCKLIST',df=stockList)
        mysql.insertValues(sql=insertValuesSql,values=[tuple(val) for val in stockList.values.tolist()])


        df = pro.daily(ts_code='000001.SZ',fields='ts_code,trade_date,open,high,low,close,pct_chg,vol')
        print(df)
        columns = df.columns.values.tolist()
        
        """
        创建日线行情数据表
        sql = f'CREATE TABLE DAILY (\n'
        columnlen = len(columns)
        for idx,col in enumerate(columns):
            if 'code' in col :
                sql += col+ ' VARCHAR(30) NOT NULL,'
            elif 'date' in col:
                sql += col+ ' DATE,'
            else:
                sql += col+ ' FLOAT,' if idx != columnlen-1 else col +' FLOAT'
        sql += ')ENGINE=innoDB DEFAULT CHARSET=utf8;'
        mysql.createTable(tName='DAILY',sql=sql)
        """
        # 插入数值
        data = [tuple(val) for val in df.values.tolist()]
        sql = f'insert into DAILY({",".join(columns)}) values({",".join(["%s" for _ in range(len(columns))])});'
        mysql.intertValues(sql, data)
        #获取数据库中的数据
        data = mysql.fetchValues(tName="DAILY",sql = "select * from DAILY limit 100;")
        print(data)

正在连接数据库......
数据库连接成功......
====================================================================================================
Database version :8.0.27
数据插入成功
        ts_code trade_date   open   high    low  close  pct_chg         vol
0     000001.SZ   20220106  17.11  17.27  17.00  17.12  -0.1749  1107885.19
1     000001.SZ   20220105  16.58  17.22  16.55  17.15   2.9412  1961998.17
2     000001.SZ   20220104  16.48  16.66  16.18  16.66   1.0922  1169259.33
3     000001.SZ   20211231  16.86  16.90  16.40  16.48  -2.0214  1750760.89
4     000001.SZ   20211230  16.76  16.95  16.72  16.82   0.4179   796663.60
...         ...        ...    ...    ...    ...    ...      ...         ...
4995  000001.SZ   20001009  17.00  17.18  16.66  16.75  -1.2400    15295.00
4996  000001.SZ   20000929  16.98  17.08  16.90  16.96   0.4100    19144.00
4997  000001.SZ   20000928  17.10  17.26  16.86  16.89  -1.0500    44541.00
4998  000001.SZ   20000927  16.65  17.25  16.65  17.07   2.8300    47383.00
4999  000001.SZ   20000926  16.45  16.79  16.45  16.60   1.1000    19060.00

[5000 rows x 8 columns]

AttributeError: 'Mysql' object has no attribute 'interValues'